{% extends 'base.html' %}

{% block content %}
  <div class="card">
    <div class="card-header card-header-success">
      <h4>Курьерские службы <a href="{% url 'add_courier' %}" class="btn btn-sm btn-facebook ml-3">Добавить</a></h4>
    </div>
    <div class="card-body">
      {% if couriers.count > 0 %}
        <div class="table-responsive">
          <table class="table">
            <thead class="font-weight-bold">
              <tr>
                <td>Название</td>
                <td>Телефон</td>
              </tr>
            </thead>
            <tbody>
              {% for el in couriers %}
                <tr>
                  <td>{{ el.courier_name }}</td>
                  <td>{{ el.phone }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      {% else %}
          <p class="text-info"><h2 class="text-center">Пока нет доступных жидкостей</h2></p>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}